@font-face {
    font-family: gilroy;
    src: url(/fonts/Gilroy-Regular.ttf);

}

@font-face {
    font-family: spaceGrotesk;
    src: url(/fonts/SpaceGrotesk-Regular.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
    overflow-x: hidden;
   
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 15vh;
    background-color: transparent;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;

}

nav h1 {
    font-family: spaceGrotesk;
    font-weight: 400;
    font-size: 34px;
    line-height: 33px;
    font-style: normal;
    color: white;


}

#arrow {
    width: 10vh;

}





nav button {
    font-family: gilroy;
    font-weight: 600;
    font-size: 15px;
    color: white;
    padding: 0.9vmax 1.5vmax;
    border-radius: 5vmax;
    border: none;
    box-shadow: 0 0 0.8vmax #49bff6;
    background: linear-gradient(to right, #45d6e7, #38cdfa);


}

nav button a {
    text-decoration: none;
    font-family: gilroy;
    font-weight: 600;
    font-size: 15px;
    color: white;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100vw;
    height: calc(100vh - 15vh);
    /* Adjusted height to exclude the height of the navigation bar */
    margin-top: 15vh;
}

.hero h1 {
    color: white;
    font-family: spaceGrotesk;
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    margin-top: 10px;
}

.hero img {
    width: 60%;
    height: 80%;
    object-fit: cover;
}



.scrolling-text .scrolling-text-content {
    color: #fff;
    font-family: spaceGrotesk;
    font-size: 109px;
    white-space: nowrap;
    margin: 50px 0;
    overflow: hidden;
}

.intro{
    text-align: center;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
   

}

.intro p {
    color: #fff;
    font-family: spaceGrotesk;
    font-size: 50px;
    line-height: 86px;
    max-width: 70vw;

}

.buttons{
    margin: 40px 0;
}

.buttons .social{
    margin-right: 20px;
    background-color: #6eddff;
     font-size: 25px;
    text-decoration: none;
    font-family: gilroy;
    color: white;
    padding: 0.8rem 1rem;
    font-weight: bold;
    border-radius: 50px;
    border: none;
}

.buttons .git{
    margin-left: 20px;
    background-color: hsl(321, 95%, 71%);
     font-size: 25px;
    text-decoration: none;
    font-family: gilroy;
    color: white;
    padding: 0.9rem 1rem;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    

}
.buttons .git img{
    width: 30px;
}
.good{
    width: 100vw;
    height: 80vh;
    background-color: rgb(23, 23, 23);
    position: relative;
}

.good h1{
    font-family: gilroy;
    color: white;
    font-size: 66px;
    position: absolute;
    top: 60px;
    left: 60px;

}
.good h1 span{
    color: #38cdfa;

}
.good h2{
    font-family: gilroy;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 150px;
    left: 60px;
}
.good .development{
    font-family: gilroy;
    color: white;
    font-size: 27px;
    border: 2px solid white;
    padding: .2rem .8rem;
    border-radius: 10px;
    position: absolute;
    top: 250px;
    left: 60px;
}
.subjects{
    position: absolute;
    top: 320px;
    left: 60px;

}
.subjects img{
    width: 100px;
    margin: 0 10px;
   
}

.love{
    width: 100vw;
    height: 100vh;
    background-color: rgb(49, 49, 49);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.love h1{
    font-family: gilroy;
    color: white;
    font-size: 51px;
    position: absolute;
    top: 40px;
    left: 60px;

}
.love h1 span{
    color: #f529cc;

}
.love h2{
    font-family: gilroy;
    color: white;
    font-size: 25px;
    position: absolute;
    top: 110px;
    left: 60px;
}
.love div{
    background-color: white;
    width: 80vw;
    height: 60vh;
    border-radius: 10px;
    margin-top: 80px;
}

.artwork{
    width: 100vw;
    height: 100vh;
    background-color: rgb(18, 18, 18);
    position: relative;
}
.artwork h1{
    font-family: gilroy;
    color: white;
    font-size: 63px;
    position: absolute;
    top: 30px;
    left: 60px;

}
.artwork h1 span{
    color: hsl(64, 98%, 62%);

}

footer{
    width: 100vw;
    height: 100vh;
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

footer h1{
    font-family: gilroy;
    color: white;
    font-size: 123px;
    text-align: left;
    width: 90%
}

footer a{
    text-decoration: none;
}

.mail{
    color: hsl(350, 79%, 54%);
}
.mail:hover{
    text-decoration: line-through;
}

.instagram{
    color: #eec44e;
}
.instagram:hover{
    text-decoration: line-through;
}

.linkdin{
    color: #45d6e7;
}
.linkdin:hover{
    text-decoration: line-through;
}

.copy{
    font-family: gilroy;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}



/* MOBILE DEVICES */

@media only screen and (max-width: 767px) {

    html,
    body {
        overflow-x: hidden;
    }

    body {
        position: relative;
    }


    nav h1 {
        font-size: 25px;
        line-height: 20px;
    }

    #arrow {
        width: 5vh;
    }



    .hero {
        text-align: center;
        height: 60vh;

    }

    .hero h1 {
        font-size: 40px;
    }

    .hero img {
        width: 80vw;

    }

    .scrolling-text .scrolling-text-content {
        font-size: 50px;
    }
    .intro{
        text-align: center;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
       
    
    }
    
    .intro p {
        color: #fff;
        font-family: spaceGrotesk;
        font-size: 30px;
        line-height: 40px;
        max-width: 90vw;
    
    }
    
    .buttons{
        display: flex;
        margin: 40px 0;
    }
    
    .buttons .social{
        margin-right: 20px;
        background-color: #6eddff;
         font-size: 16px;
        text-decoration: none;
        font-family: gilroy;
        color: white;
        padding: 0.8rem 1rem;
        font-weight: bold;
        border-radius: 50px;
        border: none;
    }
    
    .buttons .git{
        margin-left: 20px;
        background-color: hsl(321, 95%, 71%);
         font-size: 16px;
        text-decoration: none;
        font-family: gilroy;
        color: white;
        padding: 0.9rem 1rem;
        font-weight: bold;
        border-radius: 50px;
        border: none;
        
    
    }
    .buttons .git img{
        width: 16px;
    }

    .good{
        width: 100vw;
        height: 40vh;
        background-color: rgb(23, 23, 23);
        position: relative;
       
    }

    .good h1{
        font-family: gilroy;
        color: white;
        font-size: 40px;
        position: absolute;
        top: 20px;
        left: 10px;
     
    
    }
   
    .good h2{
        font-family: gilroy;
        color: white;
        font-size: 20px;
        position: absolute;
        top: 70px;
        left: 10px;
       
    }
    .good .development{
        font-size: 20px;
        position: absolute;
        top: 130px;
        left: 20px;
    }

    .subjects{
        position: absolute;
        top: 180px;
        left: 11px;
        
    
    }
    .subjects img{
        width: 50px;
        margin: 5px 2px;
       
       
    }
    .love{
        width: 100vw;
        height: 80vh;
        background-color: rgb(49, 49, 49);
        position: relative;
    }
    
    .love h1{
        font-family: gilroy;
        color: white;
        font-size: 40px;
        position: absolute;
        top: 20px;
        left: 10px;
       
    
    }
  
    .love h2{
        font-family: gilroy;
        color: white;
        font-size: 20px;
        position: absolute;
        top: 70px;
        left: 10px;
        
    }
    .artwork{
        width: 100vw;
        height: 100vh;
       
        position: relative;
    }
    .artwork h1{
     
        font-size: 30px;
        position: absolute;
        top: 40px;
        left: 10px;
    
    }
    footer{
        width: 100vw;
        height: 100vh;
        background-color: rgb(22, 22, 22);
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    footer h1{
        font-family: gilroy;
        color: white;
        font-size: 70px;
        text-align: left;
        width: 90%
    }
}